:root{
    --background: rgba(76, 175, 79, 1);
    --footer-color: background: rgba(38, 50, 56, 1);

;
}

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body{
    background-color: white;
}


.container{
    position: relative;
    max-width: 800px;
    margin: 0 auto;
    padding: 20px;
}

.row{
    display: flex;
    gap: 20px;
    align-items: center;
}

.gap-20{
    gap: 20px;
}

.list-none{
    list-style: none;
}

.flex{
    display: flex;
    align-items: center;
}

.grid{
    display: grid;
    align-items: center;
    background-color: rgb(94, 94, 94);
    color: white;
}

.jc-sb{
    justify-content: space-between;
}

.align-center{
    align-items: center;
}

.header-buttons{
    padding-left: 25px;
}

.header-menu{
    text-decoration: none;
    color: black;
}

.color{
    color: green;
}

.login{
    margin: 10px 0;
    background-color: green;
    border-radius: 5px;
    color: white;
    border: 0;
    padding: 6px 12px;
}

.text-cont{
    width: 657;
    height: 152;
}

.center{
    align-items: center;
}

.logo{
    width: 100%;
    text-align: center;
    margin-left: 50px;
    padding: 20px;
}

.card{
    margin: 24px 32px 24px 32px;
    gap: 8px;
    padding: 16px;
    text-align: center;
    justify-content: space-between;
}
.cards{
    padding: 15px;
    margin-left: 144px;
    margin-right: 144px;
    text-align: center;
}

.info-text{
    color: rgba(24, 25, 31, 1);
    text-align: center;

}

.info h3{
    color: green;
}

.bord-3 img{
    width: 442px;
    height: 433px;
}

.bord-4{
    display: flex;
    padding: 16px;
    align-items: center;
    gap: 12px;
    /*margin: 64px 144px 64px 144px; */
}



.bord-5 img{
    width: 441.53px;
    height: 433.4px;
}

.bord-6{
    display: flex;
    align-items: center;
}

.bord-6 img{
    width: 326px;
    height: 326px;
}

.bord-6 icons{
    width: 748px;
    height: 48px;
}

.bord-6-text{
    width: 223px;
    height: 44px;
}

.bord-7 card p{
    width: 317px;
    height: 176px;
}

.info{
    width: 540px;
    height: 160px;
    position: relative;
}

.top-footer{
    text-align: center;
    margin-left: 50px;
    width: 1440px;
    height: 300px;
        
}

.footer{
    display: grid;
    align-items: center;
    margin: 0 auto;
    width: 1440px;
    height: 328px;
    color: var(--footer-color);
}

.copyright{
    grid-column: 1 / span 2;
    margin: 0 auto;
}

.Company{
    grid-column: 4 / span 1;

}

.Support{
    grid-column: 5 / span 1;
}

.email{
    grid-column: 6 / span 1;
    border-radius: 1px;
}

